<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Géneros</title>
    <link rel="stylesheet" href="../plataforma.css">
</head>
<body>

<div class="contenedor inicio">
    <header class="cabecera">
        <div class="cabecera-logo">
            <img src="../logo.png" alt="Logo Biblioteca" class="logo">
            <div>
                <h1>Biblioteca de Videojuegos</h1>
                <p>Listado de géneros</p>
            </div>
        </div>
    </header>
    <main class="contenido">
        <div class="barra-superior">
            <h2>Géneros registrados</h2>
            <a th:href="@{/}" class="btn-principal enlace-boton">
                Home
            </a>
            <a th:href="@{/genero/nuevo}" class="btn-principal enlace-boton">
                Nuevo género
            </a>
        </div>
        <table class="tabla">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="genero : ${generos}">
                <td th:text="${genero.id}"></td>
                <td th:text="${genero.nombre}"></td>
                <td th:text="${genero.descripcion}"></td>
                <td class="acciones">
                    <a href="#" class="btn-editar">Editar</a>
                    <a th:href="@{/genero/borrar(id=${genero.id})}" class="btn-eliminar">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
    <footer class="pie">
        Biblioteca de Videojuegos · IFCD0014 · 2026
    </footer>
</div>
</body>
</html>
